body {
  font-family: 'Source Code Pro', monospace;
}
pre {
  font-family: 'Source Code Pro', monospace;
  background-color: #eeeeee;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 12px;
}
#decoder-output-bin {
  height: 64px;
}
.opv86-main-hex-input {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #808080;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.opv86-main-hex-input:focus {
  outline: 0;
}
h1 small {
  color: #808080;
}
a {
  color: #1d68cd;
  text-decoration: none;
}
p {
  margin-top: 8px;
  margin-bottom: 8px;
}
h3 {
  padding-left: 4px;
  border-left: 4px solid black;
  border-bottom: 1px solid black;
}
h4 {
  padding-left: 4px;
  border-left: 4px solid #c6c6c6;
  margin-top: 16px;
  margin-bottom: 8px;
}
a:visited {
  color: #1d68cd;
}
.opv86-data-info {
  text-align: right;
  margin-bottom: 8px;
}
.opv86-site-info {
  text-align: right;
  margin-bottom: 8px;
}
.opv86-opbin-container {
  display: grid;
  grid-template-columns: repeat(10, minmax(100px, 5%));
  column-gap: 4px;
}
.opv86-opcode-byte {
  text-align: center;
  display: inline;
  height: 20px;
  grid-column: span 1;
}
.opv86-opcode-word {
  text-align: center;
  display: inline;
  height: 20px;
  grid-column: span 2;
}
.opv86-opcode-dword {
  text-align: center;
  display: inline;
  height: 20px;
  grid-column: span 4;
}
.opv86-opcode-p16ofs32 {
  text-align: center;
  display: inline;
  height: 20px;
  grid-column: span 6;
}
.opv86-opcode-qword {
  text-align: center;
  display: inline;
  height: 20px;
  grid-column: span 8;
}
.opv86-opcode-prefix {
  background-color: #9fe5ff;
}
.opv86-opcode-modrm {
  background-color: #ffd972;
  border-radius: 8px;
}
.opv86-opcode-imm {
  background-color: #ffc0c0;
}
.opv86-opcode-op {
  background-color: #d1fb61;
}
.opv86-opcode-unknown {
  background-color: #000000;
  color: #FFFF00;
}

/* oplist2 */
.opv86-opcode-byte-opcode {
  background-color: #d1fb61;
}
.opv86-opcode-byte-rex-prefix {
  background-color: #9fe5ff;
}
.opv86-opcode-byte-vex-prefix {
  font-size: 10px;
  background-color: #9fe5ff;
}
.opv86-opcode-byte-evex-prefix {
  background-color: #9fe5ff;
}
.opv86-opcode-byte-imm {
  background-color: #ffc0c0;
}
.opv86-opcode-byte-modrm {
  background-color: #ffd972;
  border-radius: 8px;
}
.opv86-opcode-byte-disp {
  background-color: #fff700;
  border-radius: 8px;
}
.opv86-opcode-byte-unknown {
  background-color: #eeeeee;
  border-radius: 8px;
}
/* oplist */
.opv86-description-panel {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 32px;
  border-bottom: 0.5px solid #d0d0d0;
  background-color: #ffffee;
  padding-bottom: 32px;
}
.opv86-oplist-container-decoder {
  display: grid;
  grid-template-columns: 860px auto;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 0.5px solid #d0d0d0;
}
.opv86-oplist-container {
  display: grid;
  grid-template-columns: 600px 424px auto;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: 0.5px solid #d0d0d0;
}
.opv86-oplist-header {
  background-color: #eeeeee;
}
.opv86-oplist-header-description {
  background-color: #eeeeee;
}
.opv86-oplist-item-opcode {
  grid-column-start: 1;
  background-color: #ffffff;

  display: grid;
  grid-template-columns: repeat(10, 60px);
  column-gap: 4px;
}
.opv86-oplist-item-instr {
  background-color: #ffffff;
}
.opv86-oplist-item-description {
  background-color: #ffffff;
  display: inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 1280px) {
  .opv86-oplist-container {
    display: grid;
    grid-template-columns: 600px minmax(128px, auto);
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: 0.5px solid #d0d0d0;
  }
  .opv86-oplist-header-description,
  .opv86-oplist-item-description {
    display:none;
  }
}
