body {
  font-family: 'Source Code Pro', monospace;
}
.opv86-main-hex-input {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  width: 100%;
  border: 0px;
  border-bottom: 2px solid #808080;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.opv86-main-hex-input:focus {
  outline: 0;
}
h1 small {
  color: #808080;
}
a {
  color: #1d68cd;
  text-decoration: none;
}
a:visited {
  color: #1d68cd;
}
.opv86-data-info {
  text-align: right;
  margin-bottom: 8px;
}
.opv86-site-info {
  text-align: right;
  margin-bottom: 8px;
}
.opv86-oplist-container {
  display: grid;
  grid-template-columns: 600px 256px 100px 100px auto;
  row-gap: 2px;
  background-color: #808080;
}
.opv86-oplist-header {
  background-color: #eeeeee;
}
.opv86-opcode-byte-prefix {
  width: 60px;
  height: 20px;
  display: inline;
  text-align: center;
  background-color: #c0ffee;
}
.opv86-opcode-byte-normal {
  width: 60px;
  height: 20px;
  display: inline;
  text-align: center;
  background-color: #eeffc0;
}
.opv86-oplist-item-opcode {
  grid-column-start: 1;
  background-color: #ffffff;

  display: grid;
  grid-template-columns: repeat(10, 60px);
  column-gap: 4px;
}
.opv86-oplist-item-instr {
  background-color: #ffffff;
}
.opv86-oplist-item-encoding {
  background-color: #ffffff;
}
.opv86-oplist-item-page {
  background-color: #ffffff;
}
.opv86-oplist-item-description {
  background-color: #ffffff;
}
